<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <h1 class="name">Hello The gioi <%= name %> </h1>
    <% if (age > 18){ %>
        <p>You are an adult.</p>
    <% } else { %>
        <p>You are an minor.</p>
    <% } %>
</body>
</html>